@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&diplay=swap");

:root{
    --color-main:#1a202e;
}

*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-main);
    color: #fff;
}

.sidebar-brand{
    height: 70px;
    align-items: center;
}

.brand-flex{
    display: flex;
    justify-content: space-between;
}

.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
   margin:  1rem 0rem 1rem 0rem;
}

.sidebar-user img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
}

.sidebar-user h3{
    font-size: 1rem;
}

.sidebar-user span{
    font-size: .8rem;
}

.sidebar-menu{
    margin-top: 3rem;
}

.menu-head{
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.sidebar-menu ul{
    margin-bottom: 1.5rem;
}

.sidebar-menu li{
    margin-bottom: .9rem;
    
}

.sidebar-menu li a{
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
    
}

.sidebar-menu li a span{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;
}

.main-content{
    margin-left: 280px;
} 

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    padding: 1rem 1.5rem;
}

.menu-toggle label{
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;

}

.header-icons span{
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}


.menu-toggle label:hover{
    background: #efefef;
}


.main-content{
    margin-left: 280px;

}

main{
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.header-actions button{
    outline: none;
    color: #fff;
    background: #5850ec;
    border:none;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;

}

.header-actions button span{
    font-size:1.2rem;
    margin-right: .6rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; 
    margin-top: 2rem;
}

.card-single{
    background: #fff;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0,0.1);
    border-radius: 2px;
}


.card-flex{
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
}

.card-head span{
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: .9rem;
}

.card-head small{
    font-weight: 600;
    color: #555;
}


.card-info h2{
    font-size: 2.2rem;
    color: #333;
}

.card-chart span{
    font-size: 5rem;
 }

.card-chart.succes span{
    color: seagreen;
}

.card-chart.danger span{
    color: tomato;
}

.card-chart.yellow span{
    color: orangered;

}

.jobs-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto 66%;
    grid-gap: 3rem;
}

.analytics-card{
    background: #fff;
    padding: 1.5rem;
}

.analytics-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.analytics-head span{
    font-size: 1.5rem;
}

.analytics-chart small{
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom: 1rem;
}

.chart-circle{
    height: 150px;
    width: 150px;
    border-left: 12px solid transparent;
    border-right: 12px solid #5850ec;
    border-top: 12px solid #5850ec;
    border-bottom: 12px solid #5850ec;
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3rem;

}

.analytics-card button{
    display: block;
    padding: .6rem 1rem;
    width: 100%;
    height: 45px;
    background: #5850ec;
    color: #fff;
    border: 1px solid #5850ec;
    border-radius: 3px;
}

.jobs h2 small{
    color: #5850ec;
    font-weight: 600;
    display: inline-block;
    margin-left: 1rem;
    font-size: .8rem;
}

.jobs table {
    border-collapse: collapse;
    margin-top: 1rem;
}

span.indicator{
    background: #c9f7f5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

span.indicator.even{
    background: #fff4de;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.jobs table td div{
    background: #fff;
    margin-bottom: 1rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;

}

