@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&diplay=swap");

:root{
    --color-main:#1a202e;
}

*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-main);
    color: #fff;
}

.sidebar-brand{
    height: 100px;
    align-items: center;
}

.brand-flex{
    display: flex;
    justify-content: space-between;
}

.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
   margin:  1rem 0rem 1rem 0rem;
}

.sidebar-user img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: solid 2px transparent;
    border-right: solid 2px #efefef;
    border-bottom: solid 2px #efefef;
    border-top: solid 2px #efefef;
}

.sidebar-user h3{
    font-size: 1rem;
}

.sidebar-user span{
    font-size: .8rem;
}

.sidebar-menu{
    margin-top: 3rem;
}

.menu-head{
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.sidebar-menu ul{
    margin-bottom: 1.5rem;
}

.sidebar-menu li{
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    
}

.sidebar-menu li a{
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a span{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;
}

.main-content{
    margin-left: 280px;
} 

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    padding: 1rem 1.5rem;
}

.menu-toggle label{
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;

}

.header-icons span{
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}


.menu-toggle label:hover{
    background: #efefef;
}


.main-content{
    margin-left: 280px;

}

main{
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.header-actions button{
    outline: none;
    color: #fff;
    background: #5850ec;
    border:none;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;

}

.header-actions button span{
    font-size:1.2rem;
    margin-right: .6rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 3px; 
    margin-top: 2rem;
}

.card-single{
    background: #fff;
    padding: 1rem;
    box-shadow: 3px 2px 6px;
}